<html>
 <head>
  <title>
   Login
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="Login.css">
 </head>
 <body>
  <div class="header">
   <div class="container">
    <div class="logo">
     <img alt="Duck Logo" height="40" src="/View/Image/Logo.png" width="40"/>
    </div>
    <div class="contact-info">
     <i class="fas fa-phone-alt">
     </i>
     0123456789
    </div>
    <div class="search-bar">
     <input placeholder="Tìm sản phẩm..." type="text"/>
     <i class="fas fa-search">
    </i>
    </div>
    <div class="icons">
     <div class="icon">
      <i class="fas fa-exchange-alt">
      </i>
      <span>
       So sánh
      </span>
     </div>
     <div class="icon">
      <i class="fas fa-user">
      </i>
      <span>
       Tài khoản
      </span>
     </div>
     <div class="icon">
      <i class="fas fa-shopping-cart">
      </i>
      <span>
       Giỏ hàng
      </span>
     </div>
    </div>
   </div>
  </div>
  <div class="nav">
   <div class="container">
    <a href="#">
     TRANG CHỦ
    </a>
    <a href="#">
     SẢN PHẨM
    </a>
    <a href="#">
     SALE OFF
    </a>
    <a href="#">
     GIỚI THIỆU
    </a>
    <a href="#">
     LIÊN HỆ
    </a>
   </div>
  </div>
  <div class="banner">
  </div>
  <div class="content">
   <div class="product-grid">
    <div class="product-item">
     <img alt="Product Image" src="https://storage.googleapis.com/a1aa/image/hPkolhR0jFqyFxKUMJnEzM7IMeIbTcecLHzzVgIsy3oq7SnTA.jpg"/>
     <p>
      Sản phẩm 1
     </p>
    </div>
    <div class="product-item">
     <img alt="Product Image" src="https://storage.googleapis.com/a1aa/image/hPkolhR0jFqyFxKUMJnEzM7IMeIbTcecLHzzVgIsy3oq7SnTA.jpg"/>
     <p>
      Sản phẩm 2
     </p>
    </div>
    <div class="product-item">
     <img alt="Product Image" src="https://storage.googleapis.com/a1aa/image/hPkolhR0jFqyFxKUMJnEzM7IMeIbTcecLHzzVgIsy3oq7SnTA.jpg"/>
     <p>
      Sản phẩm 3
     </p>
    </div>
    <div class="product-item">
     <img alt="Product Image" src="https://storage.googleapis.com/a1aa/image/hPkolhR0jFqyFxKUMJnEzM7IMeIbTcecLHzzVgIsy3oq7SnTA.jpg"/>
     <p>
      Sản phẩm 4
     </p>
    </div>
   </div>
  </div>
  <div class="footer">
   <div class="container">
    <div class="column">
     <h3>
      THÔNG TIN CHUNG
     </h3>
     <p>
      VNB là hệ thống bán lẻ dụng cụ thể thao và sân cầu lông lớn nhất cả nước, các sản phẩm của chúng tôi luôn được đảm bảo về chất lượng.
     </p>
     <p>
      VNB cam kết: "Tất cả các sản phẩm VNB bán ra đều là hàng chính hãng và được bảo hành chính hãng".
     </p>
     <p>
      VNB - "Trải nghiệm sản phẩm chất lượng xuất sắc và dịch vụ tốt nhất Việt Nam".
     </p>
    </div>
    <div class="column">
     <h3>
      THÔNG TIN LIÊN HỆ
     </h3>
     <p>
      Hệ thống cửa hàng:
      <a href="#">
       Xem hệ thống cửa hàng
      </a>
     </p>
     <p>
      Kiểm tra đơn hàng VNB:
      <a href="#">
       Kiểm tra đơn hàng VNB
      </a>
     </p>
     <p>
      Hotline: 0707456140 - 0707456145
     </p>
     <p>
      Email:
      <a href="mailto:info@vnb.com">
       info@vnb.com
      </a>
     </p>
     <p>
      Thời gian làm việc: 8:00-17:00
     </p>
     <p>
      Hỗ trợ ngoài giờ: 0707456145
     </p>
    </div>
    <div class="column">
     <h3>
      CHÍNH SÁCH
     </h3>
     <p>
      <a href="#">
       Chính sách bảo hành/đổi trả
      </a>
     </p>
     <p>
      <a href="#">
       Chính sách bảo mật
      </a>
     </p>
     <p>
      <a href="#">
       Chính sách vận chuyển
      </a>
     </p>
     <p>
      <a href="#">
       Chính sách thanh toán
      </a>
     </p>
     <p>
      <a href="#">
       Chính sách khách hàng thân thiết
      </a>
     </p>
    </div>
    <div class="column">
     <h3>
      HƯỚNG DẪN
     </h3>
     <p>
      <a href="#">
       Hướng dẫn mua hàng trên website
      </a>
     </p>
     <p>
      <a href="#">
       Hướng dẫn thanh toán
      </a>
     </p>
     <p>
      <a href="#">
       Hướng dẫn kiểm tra đơn hàng
      </a>
     </p>
     <p>
      <a href="#">
       Hướng dẫn bảo hành
      </a>
     </p>
     <p>
      <a href="#">
       Hướng dẫn mua hàng
      </a>
     </p>
    </div>
   </div>
  </div>
  <div class="footer-bottom">
   <p>
    © Công Ty TNHH VNB SPORTS
   </p>
   <p>
    Địa chỉ: 268/20 Lý Thường Kiệt, Phường 14, Quận 10, TP.HCM
   </p>
   <p>
    GPĐKKD số 0314343005 do Sở KH &amp; ĐT TP.HCM cấp ngày 07/05/2017
   </p>
   <p>
    Giấy phép thiết lập trang TMDT số: 2018-0017/ĐK/TMĐT
   </p>
   <div class="certification">
    <img alt="Certification" height="40" src="https://storage.googleapis.com/a1aa/image/8GEDpIg4JfS9P60MUCERdY0Fsz4FrrGVJKEJYwAg8ESfoSnTA.jpg" width="40"/>
    <p>
     Đã thông báo
    </p>
   </div>
  </div>
  <a class="cart-button" href="#">
   Xem giỏ hàng (0)
  </a>
 </body>
</html>