<html>

<head>
    <title>
        Home
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Home/assets/css/style.css">
    <link rel="stylesheet" href="/Home/assets/fonts/themify-icons/themify-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <img alt="Duck Logo" height="40" src="/Home/assets/img/logo.svg" width="40" />
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt">
                </i>
                0123456789
            </div>
            <div class="search-bar">
                <input placeholder="Tìm sản phẩm..." type="text" />
                <i class="fas fa-search">
                </i>
            </div>
            <div class="icons">
                <div class="icon">
                    <i class="fas fa-exchange-alt">
                    </i>
                    <span>
                        So sánh
                    </span>
                </div>
                <div class="icon">
                    <i class="fas fa-user">
                    </i>
                    <span>
                        Tài khoản
                    </span>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart">
                    </i>
                    <span>
                        Giỏ hàng
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <a href="#">
                TRANG CHỦ
            </a>
            <a href="#">
                SẢN PHẨM
            </a>
            <a href="#">
                SALE OFF
            </a>
            <a href="#">
                GIỚI THIỆU
            </a>
            <a href="#">
                LIÊN HỆ
            </a>
        </div>
    </div>
    <div class="slide">
        <img src="/Home/assets/img/slide1.jpg" alt="">
    </div>
    <div class="section-services">
        <div class="section_services">
            <div class="container">
                <div class="row promo-box">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="promo-item">
                            <div class="icon">
                                <img width="50" height="50" class="lazyload loaded"
                                    src="https://cdn.shopvnb.com/themes/images/policy_image_2.svg"
                                    data-src="https://cdn.shopvnb.com/themes/images/policy_image_2.svg"
                                    alt="Vận chuyển toàn quốc" data-was-processed="true">
                            </div>
                            <div class="info">
                                Vận chuyển <span style="font-weight: bold;">TOÀN QUỐC</span> <br> Thanh toán khi nhận hàng
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="promo-item">
                            <div class="icon">
                                <img width="50" height="50" class="lazyload loaded"
                                    src="https://cdn.shopvnb.com/themes/images/policy_image_1.svg"
                                    data-src="https://cdn.shopvnb.com/themes/images/policy_image_1.svg" alt=""
                                    data-was-processed="true">
                            </div>
                            <div class="info">
                                <span style="font-weight: bold;">Bảo đảm chất lượng</span> <br>Sản phẩm bảo đảm chất lượng.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="promo-item">
                            <div class="icon">
                                <img width="50" height="50" class="lazyload loaded"
                                    src="https://cdn.shopvnb.com/themes/images/thanh_toan.svg"
                                    data-src="https://cdn.shopvnb.com/themes/images/thanh_toan.svg" alt=""
                                    data-was-processed="true">
                            </div>
                            <div class="info">
                                Tiến hành <span style="font-weight: bold;">THANH TOÁN</span> <br> Với nhiều <span style="font-weight: bold;">PHƯƠNG THỨC</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="promo-item">
                            <div class="icon">
                                <img width="50" height="50" class="lazyload loaded"
                                    src="https://cdn.shopvnb.com/themes/images/doi_san_pham.svg"
                                    data-src="https://cdn.shopvnb.com/themes/images/doi_san_pham.svg" alt=""
                                    data-was-processed="true">
                            </div>
                            <div class="info">
                                <span style="font-weight: bold;">Đổi sản phẩm mới</span><br> nếu sản phẩm lỗi
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-flash-sale">
        <div class="container"> 
            <h1 style="text-align: center; color: #f36f21; text-transform: uppercase;">Sản phẩm mới</h1>
            <div class="background">
                <div class="flash-sale-item row">
                    <div class="product-item col"  style="text-align: left;">
                        <img alt="Product Image"
                            src="/Home/assets/img/Sanphammoi/vot-cau-long-vnb-carbon-training-150g-5.webp" />
                        <p>
                            Vợt Cầu Lông VNB Carbon Training 150g Chính Hãng
                            <br>
                            <span style="color: #f36f21; font-weight: bold">698.000</span>
                        </p>
                    </div>
                    <div class="product-item col" style="text-align: left;">
                        <img alt="Product Image"
                            src="/Home/assets/img/Sanphammoi/vot-cau-long-vnb-v200-do-2.webp" />
                        <p>
                            Vợt Cầu Lông VNB V200 Đỏ Chính Hãng
                            <br>
                            <span style="color: #f36f21; font-weight: bold">529.000</span>
                        </p>
                    </div>
                    <div class="product-item col" style="text-align: left;">
                        <img alt="Product Image"
                            src="/Home/assets/img/Sanphammoi/vot-cau-long-vnb-v200-xanh-2.webp" />
                        <p>
                            Vợt Cầu Lông VNB V200 Xanh Chính Hãng
                            <br>
                            <span style="color: #f36f21; font-weight: bold">529.000</span>
                        </p>
                    </div>
                    <div class="product-item col" style="text-align: left;">
                        <img alt="Product Image"
                            src="/Home/assets/img/Sanphammoi/vot-cau-long-vnb-v200i-hong-3.webp" />
                        <p>
                            Vợt Cầu Lông VNB V200i Hồng Chính Hãng
                            <br>
                            <span style="color: #f36f21; font-weight: bold">529.000</span>
                        </p>
                    </div>
                    <div class="product-item col" style="text-align: left;">
                        <img alt="Product Image"
                            src="/Home/assets/img/Sanphammoi/vot-cau-long-vnb-v88-xanh-chinh-hang-1.webp" />
                        <p>
                            Vợt Cầu Lông VNB V88 Xanh Chính Hãng 
                            <br>
                            <span style="color: #f36f21; font-weight: bold">638.000</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sale-off">
        <div class="container">
            <h1 style="color: #f36f21; text-align: center; text-transform: uppercase;">Sale-off</h1>
            <div class="so-banner-item row">
                <div class="banner-item col-4">
                    <img src="/Home/assets/img/Saleoff/3_2.webp" alt="">
                </div>
                <div class="banner-item col-4">
                    <img src="/Home/assets/img/Saleoff/2.webp" alt="">
                </div>
                <div class="banner-item col-4">
                    <img src="/Home/assets/img/Saleoff/1_3.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-banner">
        <div class="container" style="color: #f36f21; text-align: center; text-transform: uppercase;">
            <h1>Sản phẩm cầu lông</h1>
            <div class="section-banner-1 row" >
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/1.1.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/2_1.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/3_1.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/4.webp" alt="" style="height: 300px; width: 285px;">
                </div>
            </div>
            <div class="section-banner-2 row" style="margin-top: 40px;">
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/5.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/6.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/7.webp" alt="" style="height: 300px; width: 285px;">
                </div>
                <div class="banner-item col-3">
                    <img src="/Home/assets/img/SPCaulong/8.webp" alt="" style="height: 300px; width: 285px;">
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="container">
            <div class="column">
                <h3>
                    THÔNG TIN CHUNG
                </h3>
                <p>
                    VNB là hệ thống bán lẻ dụng cụ thể thao và sân cầu lông lớn nhất cả nước, các sản phẩm của chúng tôi
                    luôn được đảm bảo về chất lượng.
                </p>
                <p>
                    VNB cam kết: "Tất cả các sản phẩm VNB bán ra đều là hàng chính hãng và được bảo hành chính hãng".
                </p>
                <p>
                    VNB - "Trải nghiệm sản phẩm chất lượng xuất sắc và dịch vụ tốt nhất Việt Nam".
                </p>
            </div>
            <div class="column">
                <h3>
                    THÔNG TIN LIÊN HỆ
                </h3>
                <p>
                    Hệ thống cửa hàng:
                    <a href="#">
                        Xem hệ thống cửa hàng
                    </a>
                </p>
                <p>
                    Kiểm tra đơn hàng VNB:
                    <a href="#">
                        Kiểm tra đơn hàng VNB
                    </a>
                </p>
                <p>
                    Hotline: 0707456140 - 0707456145
                </p>
                <p>
                    Email:
                    <a href="mailto:info@vnb.com">
                        info@vnb.com
                    </a>
                </p>
                <p>
                    Thời gian làm việc: 8:00-17:00
                </p>
                <p>
                    Hỗ trợ ngoài giờ: 0707456145
                </p>
            </div>
            <div class="column">
                <h3>
                    CHÍNH SÁCH
                </h3>
                <p>
                    <a href="#">
                        Chính sách bảo hành/đổi trả
                    </a>
                </p>
                <p>
                    <a href="#">
                        Chính sách bảo mật
                    </a>
                </p>
                <p>
                    <a href="#">
                        Chính sách vận chuyển
                    </a>
                </p>
                <p>
                    <a href="#">
                        Chính sách thanh toán
                    </a>
                </p>
                <p>
                    <a href="#">
                        Chính sách khách hàng thân thiết
                    </a>
                </p>
            </div>
            <div class="column">
                <h3>
                    HƯỚNG DẪN
                </h3>
                <p>
                    <a href="#">
                        Hướng dẫn mua hàng trên website
                    </a>
                </p>
                <p>
                    <a href="#">
                        Hướng dẫn thanh toán
                    </a>
                </p>
                <p>
                    <a href="#">
                        Hướng dẫn kiểm tra đơn hàng
                    </a>
                </p>
                <p>
                    <a href="#">
                        Hướng dẫn bảo hành
                    </a>
                </p>
                <p>
                    <a href="#">
                        Hướng dẫn mua hàng
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            © Công Ty TNHH VNB SPORTS
        </p>
        <p>
            Địa chỉ: 268/20 Lý Thường Kiệt, Phường 14, Quận 10, TP.HCM
        </p>
        <p>
            GPĐKKD số 0314343005 do Sở KH &amp; ĐT TP.HCM cấp ngày 07/05/2017
        </p>
        <p>
            Giấy phép thiết lập trang TMDT số: 2018-0017/ĐK/TMĐT
        </p>
        <div class="certification">
            <img alt="Certification" height="40"
                src="https://storage.googleapis.com/a1aa/image/8GEDpIg4JfS9P60MUCERdY0Fsz4FrrGVJKEJYwAg8ESfoSnTA.jpg"
                width="40" />
            <p>
                Đã thông báo
            </p>
        </div>
    </div>
    <a class="cart-button" href="#">
        Xem giỏ hàng (0)
    </a>
</body>

</html>
